:root {
  --ff-sans: "Montserrat", sans-serif;

  --fs-500: 0.938rem;

  --fw-bold: 700;

  --clr-verylightgrayishblue: hsl(240, 78%, 98%);
  --clr-LightGrayishBlue: hsl(234, 14%, 74%);
  --clr-grayishblue: hsl(233, 13%, 49%);
  --clr-DarkGrayishBlue: hsl(232, 13%, 33%);
  --clr-LinearGradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: top -20px right -180px;
  background-color: var(--clr-verylightgrayishblue);
  font-family: var(--ff-sans);
}

header {
  h1 {
    color: var(--clr-grayishblue);
    text-align: center;
    margin-top: 5rem;
  }
  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-container p {
      margin: 0px;
    }

    p {
      color: var(--clr-LightGrayishBlue);
      font-size: var(--fs-500);
      font-weight: var(--fw-bold);
    }

    .toggle-button {
      width: 50px;
      height: 25px;
      background-color: var(--clr-LightGrayishBlue);
      margin: 25px;
      border-radius: 12.5px;
      position: relative;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .slider {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      transition: transform 0.3s;
    }

    .toggle-button.on {
      background: var(--clr-LinearGradient);
    }

    .toggle-button.on .slider {
      transform: translateX(25px);
    }

    .toggle-button.off {
      background: var(--clr-LinearGradient);
    }

    .toggle-button.off .slider {
      transform: translateX(0);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  .card-container {
    width: 50%;
    max-width: 340px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    
  }
  h1 {
    color: var(--clr-DarkGrayishBlue);
    margin: 30px;
    text-align: center;
    font-size: 50px;
  }

  button {
    width: 80%;
    padding: 0.7rem;
    align-self: center;
    margin: 30px;
    border-radius: 5px;
    border: none;
    background: var(--clr-LinearGradient);
    color: #fff;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);

    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card-container h2,
  .card-container p {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-grayishblue);
    margin: 30px;
    text-align: center;
    
  }
  .card-container h1,
  .card-container p,
  .card-container button {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--clr-LightGrayishBlue);

  }

  .card-container:nth-child(2) {
    background: var(--clr-LinearGradient);
    h1 {
      color: #fff;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    button {
      color: hsl(237, 63%, 64%);
      background: #fff;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;

    .card-container {
      margin: 0;
    }
    .card-container:nth-child(2) {
      height: 550px;
      button {
        margin: 54px 35px 35px;
      }
    }
  }
}
